<main>
<h1>Administracija</h1>
<div id="content">
<a class="waves-light" mdbWavesEffect routerLink="nastavnici" >
    <div class="card card-body m-lg-4">
        <img src="../../assets/nastavnik.png">
        <h2 class="card-title">Nastavnici </h2>
    </div>
</a>

<a class="waves-light" mdbWavesEffect routerLink="predmeti" >
    <div class="card card-body m-lg-4">
        <img src="../../assets/predmet.png">
        <h2 class="card-title">Predmeti </h2>
    </div>
</a>

<a class="waves-light" mdbWavesEffect routerLink="studenti" >
    <div class="card card-body m-lg-4">
        <img src="../../assets/student.png">
        <h2 class="card-title">Studenti </h2>
    </div>
</a>
</div>
</main>
