<!--Navbar-->
<mdb-navbar id="nav" SideClass="navbar navbar-expand-lg navbar-dark grey" >
           
    <!-- Navbar brand -->
    <logo><a class="navbar-brand" >Web servis</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['active']" class="nav-item" *ngIf =" authService.getCurrentUser() != undefined && authService.getCurrentUser() != null  && authService.getCurrentUser().roles[0] == 'NASTAVNIK'">
                    <a class="nav-link waves-light" routerLink="predmeti" >Predmeti i ispiti</a>
            </li>

            <li [routerLinkActive]="['active']" class="nav-item" *ngIf =" authService.getCurrentUser() != undefined && authService.getCurrentUser() != null  && authService.getCurrentUser().roles[0] == 'STUDENT'">
                    <a class="nav-link waves-light" routerLink="prijava-ispita" >Prijava ispita</a>
            </li>

            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link waves-light"  routerLink="administracija" mdbWavesEffect *ngIf =" authService.getCurrentUser() != undefined && authService.getCurrentUser() != null  && authService.getCurrentUser().roles[0] == 'ADMINISTRATOR'" >Administracija</a>
            </li>
 
            <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link waves-light" *ngIf="authService.getCurrentUser() != undefined && authService.getCurrentUser() != null"  routerLink="profil" mdbWavesEffect>Moj Profil</a>
                </li>
        
        
        </ul>
        <!-- Links -->
        <ul class="navbar-nav modal-right">
                <li class="nav-item dropdown" dropdown>
                        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                                <i class="fa fa-user-circle" aria-hidden="true"></i><span class="caret"></span></a>
                        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="prijava"   *ngIf ="authService.getCurrentUser() == null || authService.getCurrentUser() == undefined" >Prijava</a>           
                        <div *ngIf ="authService.getCurrentUser() != undefined && authService.getCurrentUser() != null">
                            <a class="dropdown-item waves-light" mdbWavesEffect  role="button" (click)="ngLogout();">Odjava</a>
                        </div>
                        </div>
                    </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->