tr button{
    width: 100%;
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.2em 0;
}

footer{
    text-align: center;
    margin-bottom: 1em;
}

#footerDiv{
    width:100%; 
    text-align: "center";
}

select{
    padding:0.5em 1em;
}

.pagination .disabled a.num{
    color: white;
}

h2{
    margin: 0.5em;
    margin-bottom: 1em;
}