<tr>   
    <td>{{predmet.naziv}}</td>
    <td>{{predmet.oznaka}}</td>
    <td>{{predmet.espb}}</td>
    <td><button  class="btn btn-primary" (click)="showStudenti=!showStudenti;" >Studenti</button></td>
    <td><button  class="btn btn-primary" (click)="showIspiti=!showIspiti;" >Ispiti</button></td>
</tr>
<tr *ngIf="showStudenti"><td colspan="5" style="padding:0"><app-predmet-studenti-list [predmet]="predmet" class="card card-body" style="background: rgb(241, 241, 241);"></app-predmet-studenti-list></td></tr>
<tr *ngIf="showIspiti"><td colspan="5" style="padding:0"><app-predmet-ispiti-list [predmet]="predmet" class="card card-body" style="background: rgb(241, 241, 241);"></app-predmet-ispiti-list></td></tr>