<div class="card card-body" style="background: white;">
      <div class=" col-12 col-lg-12">
            <form>
                    <div class="form-group">
                        <div class="input-group">
                            <h2 class="h2-responsive text-left">Dokumenti</h2>
                            <input type="text" class="form-control" name="filterNaziv" placeholder="Unesi naziv..." [(ngModel)]="filterNaziv">
                            <img src="../../../assets/searchIcon.png" (click)="getDokumenti()">
                        </div>
                    </div>
                </form>
<table class="table" style="table-layout: fixed">
      <!--Table head-->
      <thead class="blue-grey lighten-4">

  <tr>
      <th>Naziv</th>  
      <th>Datum postavljanja</th>          
      <th></th>            
      <th></th> 
      <th></th>             
  </tr>
  <tbody class="table col-12 col-lg-12" style="table-layout: fixed; width:100%;" >
      <tr *ngFor="let dokument of dokumenti">   
         <td>{{dokument.naziv}}</td>
         <td>{{dokument.datumDokumenta}}</td>
         <td><a href="{{dokument.sadrzaj}}"><button class ="btn btn-primary">PREUZMI</button></a></td>
         <td><button (click)="editDokument(dokument); addModal.show();" class="btn alert-primary" >Izmeni</button></td>
         <td><button (click)="deleteDokument(dokument.id, dokument.naziv); basicModal.show();" class="btn bg-red" >Obrisi</button></td>
     </tr>
     <tr *ngIf="dokumenti.length==0"><td colspan="5" style="text-align: center">Trenutno nema dokumenata...</td></tr>
     <button (click)="addDokument(); addModal.show();" class="btn alert-primary" >Dodaj dokument</button>
     </tbody>
</table>
</div>
<div class="d-flex justify-content-center">
        <nav class="my-4 pt-2">
          <ul class="pagination pagination-circle pg-blue mb-0">
            <li class="page-item clearfix d-none d-md-block" (click)="changePage(1)" [ngClass]="{disabled: activePage == 1}">
              <a class="page-link">Prva</a>
            </li>
            <li class="page-item" (click)="changePage(activePage-1)" [ngClass]="{disabled: activePage == 1}">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Prethodna</span>
              </a>
            </li>
            <li *ngFor="let page of pageCount; let i = index;" class="page-item" [ngClass]="{active: i+1 == activePage, disabled: i+1 == activePage}">
              <a class="page-link waves-light num" (click)="changePage(i+1)"  mdbWavesEffect>{{i+1}}</a>
            </li>
            <li class="page-item" (click)="changePage(activePage+1)" [ngClass]="{disabled: activePage == pageCount.length}">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Sledeca</span>
              </a>
            </li>
            <li class="page-item clearfix d-none d-md-block" (click)="changePage(pageCount.length)" [ngClass]="{disabled: activePage == pageCount.length}">
              <a class="page-link">Poslednja</a>
            </li>
    
          </ul>
        </nav>
</div>

<div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Obrisi dokument {{deleteName}}?</h4>
            </div>
            <div class="modal-body">
                Da li ste sigurni da zelite da obrisete {{deleteName}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Ne</button>
                <button type="button" (click)="deleteConfirm();basicModal.hide()" class="btn bg-red relative waves-light" mdbWavesEffect>Da</button>
            </div>
        </div>
    </div>
  </div>



<div mdbModal #addModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: false}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="addModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">{{isUpdate? "Edit document" : "New Document"}}</h4>
            </div>
            <div class="modal-body">
                <label>Naziv dokumenta:</label>
                <input class="form-control" #naziv="ngModel" type="text" placeholder="Naziv dokumenta" [(ngModel)]="currentDokument.naziv">
                <div *ngIf="naziv.touched && naziv.value.length<1" style="color: red">Naziv ne moze biti prazan.</div>
               <div *ngIf="!isUpdate">
                <hr>
                <label>Izaberite dokument:</label>
                <input #sadrzaj class="form-control" type="file" id="sadrzaj" ngModel (change)="getFiles($event)" accept="application/pdf">
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-light" aria-label="Close" (click)="addModal.hide();reset()" mdbWavesEffect>Cancel</button>
                <button type="button" [disabled]="(naziv.value == null || naziv.value == undefined || naziv.value.length<1) || isDocLocked" (click)="saveConfirm();addModal.hide()" class="btn bg-red relative waves-light" mdbWavesEffect>Save</button>
            </div>
        </div>
    </div>
  </div>

  <app-error-dialog></app-error-dialog>