table{
    background-color: rgba(255, 255, 255, 0.6);
}

#nastavnikModal, #studentModal {
    max-width: 850px;
}

#nastavnikModal .modal-body, #studentModal .modal-body{
    margin-right: 0.5em;
}

td{
    padding: 0.25em;
}

tr button{
    width: 100%;
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.2em 0;
}

footer{
    text-align: center;
    margin-bottom: 1em;
}

#footerDiv{
    width:100%; 
    text-align: "center";
}

select{
    padding:0.5em 1em;
}

.input-group input{
    margin: 1em 0.5em;
    border-radius: 0.75em;
}

.input-group img{
    max-width: 2em; 
    max-height: 2em;
    cursor: pointer;
}

.input-group img, .input-group a{
    align-self: center;
}

#backLink{
    width: 50%;
}

.pagination .disabled a.num{
    color: white;
}

main{
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.6);
}